// ==============================
// Custom style
// 自定义样式
// ==============================
.content {
    font-size: 20px; // 16
    line-height: 32px;   // 24
}

.single {
    .single-title {
      font-size: 2rem;    // 1.6
      // font-family: "Noto Serif SC";
    }
}

.home {
  .home-profile {
    .home-subtitle {
      font-family: "LXGW WenKai";
    }
  }
}